/*--  Reset  -----------------------------------------------------------------*/
*, html{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, FreeSans, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, .6);
  font-size: 16px;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: Roboto, FreeSans, Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 16px;
  background-color: #8cc;
  border: 20px solid rgba(255, 255, 255, .6);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .25);
}
h1{
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  line-height: 90px;
}
h2{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  line-height: 60px;
}
.start-wrapper,
.select-character-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  min-height: 300px;
  border: 10px solid rgba(255, 255, 255, .6);
  box-shadow: 0 8px 20px rgba(0, 0, 0, .25);
  background-color: #8dd;
}
.start-wrapper-section{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.users-wrapper{
  width: 50%;
}
.user-card{
  width: 25%;
}
.user-name{
  display: block;
  font-size: 2rem;
}
input{
  background-color: transparent;
  border-style: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 20px;
  text-align: center;
}
button{
  background-color: transparent;
  border-style: none;
  color: rgba(255, 255, 255, .5);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 20px;
  transition: color 300ms ease-out;
}
button:hover{
  color: #fff;
}
.hidden{
  display: none !important;
}
/*--  Players preview  --------------------------------------------------------------*/
#players-preview-wrapper{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.player-preview-wrapper{
  height: 50px;
  background-color: rgba(255, 255, 255, .25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  padding: 10px;
  border-style: none;
  border-radius: 3px;
  margin: 3px;
}
.player-preview-name{
  line-height: 30px;
  color: #fff;
  font-weight: 500;
  float: left;
}
.player-preview-owner{
  float: left;
  padding: 3px 0 3px 10px;
}
.player-preview-owner svg{
  fill: #fff;
}
/*--  Placeholders  -----------------------------------------------------------------*/
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .25);
  font-weight: 500;
}
:-moz-placeholder {
  color: rgba(0, 0, 0, .25);
  font-weight: 500;
}
::-moz-placeholder {
  color: rgba(0, 0, 0, .25);
  font-weight: 500;
}
:-ms-input-placeholder {
  color: rgba(0, 0, 0, .25);
  font-weight: 500;
}